@import '@braks/vue-flow/dist/style.css';
@import '@braks/vue-flow/dist/theme-default.css';

html,
body,
#app {
  margin: 0;
  height: 100%;
}

body {
  font-size: 0.7rem !important;
}

#app {
  /*text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.vue-flow__node.dark {
  background: #000000;
  color: #ffffff;
}

.lockedNode {
  pointer-events: none !important;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__node {
  width: 150px;
  border-radius: 5px;
  padding: 10px;
  color: #555;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
}
.vue-flow__node-custominput {
  /*background: #e6e6e9;*/
  background-color: rgb(213 217 222);
  border: 1px solid #ddd;
}
.vue-flow__node-custominput .vue-flow__handle {
  /*background: #e6e6e9;*/
}
.vue-flow__node-custominput {
  background: #fff;
}
.vue-flow__handle-connecting {
  background: #ff6060;
}
.vue-flow__handle-valid {
  background: #55dd99;
}

.vue-flow__edge-path {
  stroke: #b1b1b7;
  stroke-width: 3;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}
.dndflow aside {
  color: #fff;
  font-weight: 700;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: rgb(255 255 255 / 100%);
  box-shadow: 0 5px 10px #0000004d;
  position: absolute;
  height: 100%;
  z-index: 1000;
  width: 250px;
  right: 0;
}
.dndflow aside .nodes > * {
  margin-bottom: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  font-weight: 500;
  box-shadow: 3px 2px 5px 0px #00000040;
}
.dndflow aside .description {
  margin-bottom: 10px;
}
.dndflow .vue-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}
@media screen and (min-width: 640px) {
  .dndflow {
    flex-direction: row;
  }
  .dndflow aside {
    /*min-width: 25%;*/
  }
}
@media screen and (max-width: 639px) {
  .dndflow aside .nodes {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

/* -------------------- end of vue flow defaults ----------------------- */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flow-buttons {
  background-color: rgb(255 255 255);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 4px 10px;
  margin: 8px;
  font-weight: bold;
}

.vue-flow__node-select{
  background-color: #ffffff;
  color:black;
  border: solid 1px #e3e3e3; 
  padding:10px;

}

/* -------------- bootstrap overides --------------- */

.list-group-item {
  position: relative;
  display: block;
  padding: 0.2rem 0.5rem !important;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
