@import '@braks/vue-flow/dist/style.css';
@import '@braks/vue-flow/dist/theme-default.css';

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.vue-flow__node.dark {
  background: #000000;
  color: #ffffff;
}

.lockedNode {
  pointer-events: none !important;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__node {
  width: 150px;
  border-radius: 5px;
  padding: 10px;
  color: #555;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
}
.vue-flow__node-custominput {
  background: #e6e6e9;
  border: 1px solid #ddd;
}
.vue-flow__node-custominput .vue-flow__handle {
  /*background: #e6e6e9;*/
}
.vue-flow__node-custominput {
  background: #fff;
}
.vue-flow__handle-connecting {
  background: #ff6060;
}
.vue-flow__handle-valid {
  background: #55dd99;
}

.vue-flow__edge-path {
  stroke: #b1b1b7;
  stroke-width: 3;
}
